<div class="container">
   <h2>Recently Added</h2>

   <div class="row">
      <% books.forEach(book => { %>
         <div class="col-12 col-md-3 mb-3">
            <a href="/books/<%= book.id %>">
            <img height="250px" class="card-img-top" src="<%= book.coverImagePath %>">
            </a>

         </div>
         <% }); %>
   </div>

</div>